/* NOTE: ali -> architecture-list-item */
.ali {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.ali-title {
    height: 10%;
}

.ali-content {
    display: flex;
    flex-grow: 1;
}

.ali-pane {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ali-manifest-raw, .ali-vulnerabilities-raw {
    width: 100%;
    height: 100%;
}

#ali-template {
    display: none;
}